@model ToolsLayoutModel

@{
    Layout = "_Layout";
}

<p>Adapted from <citation author="@Model.CitationAuthor" year="@Model.CitationYear" />.</p>

<form class="sa-form-tools" method="POST">
    <fieldset @(Model.Disabled ? "disabled" : "")>

        @RenderBody()

    </fieldset>
    <partial name="_ToolsPageButtonGroup"></partial>
</form>


