@page
@model CostBenefitAnalysisModel
@{
    ViewData["Title"] = "Cost Benefit Analysis";
    // citation
    ViewData["Year"] = "2009";
    ViewData["Author"] = "Bilsker";
    ViewData["Title"] = "Antidepressant Skills @ Work";
}

<form-group-textarea 
    label="The problem:" 
    placeholder="The problem is... " 
    asp-for="Form.TheProblem" 
    autofocus />

@for(var i = 0; i < 3; ++i) 
{
    <fieldset>
        <legend><small>Option @(i + 1):</small></legend>
        <div class="form-row">
            <div class="col">
                <form-group-textarea 
                    asp-for="Form.Options[i].Action"
                    placeholder="Action" />
            </div>
            <div class="col">
                <form-group-textarea 
                    asp-for="Form.Options[i].Advantages"
                    placeholder="Advantages" />
            </div>
            <div class="col">
                <form-group-textarea 
                    asp-for="Form.Options[i].Disadvantages"
                    placeholder="Disadvantages" />
            </div>
        </div>
    </fieldset>
}
