@page
@model RealityQuestionsModel
@{
    ViewData["Title"] = "Reality Questions";
}

<p>Adapted from <citation author="Bilsker" year="2009">Antidepressant Skills @@ Work</citation>.</p>

<form class="sa-form-tools">
    <form-group-textarea label="Depressive Thought:" autofocus />
    <form-group-textarea label="Can I get more evidence, like asking someone about the situation?" />
    <form-group-textarea label="Would most people agree with this thought? If not, what would be a more realistic thought?" />
    <form-group-textarea label="What would I say to a friend in a similar situation?" />
    <form-group-textarea label="What will happen if I continue to think in this way?" />
    <form-group-textarea label="What is another way of thinking that is more encouraging or useful?" />
    <button type="submit" class="btn btn-primary" disabled>Download as Pdf (Coming Soon)</button>
</form>