@page
@model WholeMessagesModel
@{
    ViewData["Title"] = "Whole Messages";
}

<!-- <p>Adapted from <citation author="McKay" year="2009">Messages: The Communication Skills Book</citation>.</p> -->

<form class="sa-form-tools">
    <fieldset>
        <form-group-textarea label="Automatic Statement:" placeholder="The statement that I am tempted to make is..." autofocus />
        <form-group-textarea label="Observations:" />
        <form-group-textarea label="Thoughts:" />
        <form-group-textarea label="Feelings:" />
        <form-group-textarea label="Needs:" />
    </fieldset>
    <button type="submit" class="btn btn-primary" disabled>Download as Pdf (Coming Soon)</button>
</form>