@page
@model IndexModel
@inject UserManager<IdentityUser> UserManager

@{
    var userName = UserManager.GetUserName(User);
    ViewData["Title"] = userName;
}

<div id="root"></div>

@section Scripts {
    <script src="~/dist/react.bundle.js" asp-append-version="true"></script>
}