@page
@model AssertivenessScorecardModel
@{
    ViewData["Title"] = "Assertiveness Scorecard";
}

<p>Adapted from <citation author="Paterson" year="2000">The assertiveness workbook</citation>.</p>

<form>
    <div class="row">
        <div class="col">
            <form-group-input type="datetime" label="Date:"/>
        </div>
        <div class="col">
            <form-group-input type="text" label="Time:"/>
        </div>
        <div class="col">
            <form-group-input type="text" label="Place:"/>
        </div>
    </div>
    <form-group-textarea label="Person/Situation:"/>
    <form-group-textarea label="Your Response:"/>
    <form-group-select label="Assertive, Passive, Agressive, or P/A?">
        <option></option> 
        <option>Assertive</option> 
        <option>Passive</option> 
        <option>Agressive</option> 
        <option>Passive Agressive</option> 
    </form-group-select>
    <form-group-input type="text" label="How did it turn out?"/>
    <form-group-input type="text" label="Feelings Afterward:"/>
    <form-group-textarea label="Alternative Response:"/>
    <button type="submit" class="btn btn-primary" disabled>Download as Pdf (Coming Soon)</button>
</form>


