@page
@model AssertivenessScorecardModel
@{
    ViewData["Title"] = "Assertiveness Scorecard";
}
<h2>@ViewData["Title"]</h2>

<form>
    <form-group-input type="datetime" label="Date"></form-group-input>
    <form-group-input type="text" label="Time"></form-group-input>
    <form-group-input type="text" label="Place"></form-group-input>
    <form-group-textarea label="Person/Situation"></form-group-textarea>
</form>
