@model socialarts.club.ViewComponents.RazorPageNavItemsViewComponentModel

@{
  var toolItems = @Model.ItemsThatHaveChildren.Single(item => item.Key == "Tools");
}

<nav class="sa-tools-subnav-items">
    @foreach(var item in toolItems.Value)
    {
      <a href="@item.Path">@item.Title</a>
    }
</nav>