@page
@model IndexModel
@{
    ViewData["Title"] = "SocialArts.Club";
}

<p>This site contains tools to help people improve their social skills.</p>

<vc:razor-page-nav-items view-name="ToolsSubnavItems"></vc:razor-page-nav-items>
