@page
@model IndexModel
@{
    ViewData["Title"] = "SocialArts.Club";
}

<p>This site contains tools to help people improve their social skills.</p>

<vc:razor-page-nav-items view-name="ToolsSubnavItems"></vc:razor-page-nav-items>

<div class="react-example" data-name="Shaun"></div>
<div class="react-example" data-name="Shaun Luttin"></div>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="./react-components/bundle.js"></script>