@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<p>We respect copyright fair use guidelines. Please contact us if you would rather us not publish your work.</p>

<img class="img-fluid" src="./images/contact-email.png" alt="hello at socialarts dot club" />

