@page
@model IndexModel
@{
    ViewData["Title"] = "Personal Growth Journal";
}

<p>You have <span id='count'></span> journal entries.</p>

<script src="oidc-client.js"></script>
<script src="http-client.js"></script>
<script type="text/javascript">

    getWithToken('api/tools')
        .then((response) => response.json())
        .then((json) => {
            document.getElementById('count').innerText = json.length;
        });

</script>