<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - socialarts.club</title>
    <script src="~/dist/early.bundle.js" asp-append-version="true"></script>
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <partial name="_Navbar" />
    <div class="container body-content">
        <main class="row">
            <div class="col-12">
                <header class="sa-page-header">
                    <h1>@ViewData["Title"]</h1>
                </header>
            </div>
            <div class="col-12">
                @RenderBody()
            </div>
        </main>
        <footer>
            Open source on the <a href="https://github.com/shaunluttin/socialarts.club">GitHub</a>.
        </footer>
    </div>
    <script src="~/dist/late.bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
